.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.746094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.917969;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.991699;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.945312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.945312;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-ms-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);-webkit-transform:matrix(0.237173,0.000000,-0.079050,0.237173,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(53,47,37),0 0.015em rgb(53,47,37),0.015em 0 rgb(53,47,37),0 -0.015em  rgb(53,47,37);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(53,47,37);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-1.021440px;}
._1{width:1.077440px;}
._2{width:9.120000px;}
._0{width:33.865920px;}
.fc3{color:rgb(255,255,255);}
.fc1{color:rgb(53,47,37);}
.fc2{color:rgb(196,82,56);}
.fc0{color:rgb(77,68,54);}
.fs6{font-size:1.920000px;}
.fs1{font-size:27.840000px;}
.fs3{font-size:32.160000px;}
.fs5{font-size:34.080000px;}
.fs0{font-size:36.000000px;}
.fs2{font-size:44.160000px;}
.fs9{font-size:48.000000px;}
.fsa{font-size:50.595937px;}
.fs4{font-size:63.840000px;}
.fs7{font-size:104.160000px;}
.fs8{font-size:120.000000px;}
.y25{bottom:-21.360000px;}
.y24{bottom:-1.560000px;}
.y22{bottom:0.000000px;}
.y21{bottom:3.960000px;}
.y27{bottom:9.360000px;}
.y20{bottom:16.080000px;}
.y1b{bottom:17.640000px;}
.y2d{bottom:23.040000px;}
.y2c{bottom:24.150000px;}
.y2e{bottom:27.264000px;}
.y1f{bottom:28.320000px;}
.y1{bottom:35.904000px;}
.y0{bottom:36.000000px;}
.y1e{bottom:38.880000px;}
.y1c{bottom:49.560000px;}
.y1d{bottom:49.800000px;}
.y2b{bottom:56.430000px;}
.yd{bottom:81.356000px;}
.y2a{bottom:88.710000px;}
.yc{bottom:103.946000px;}
.y28{bottom:107.900000px;}
.y29{bottom:120.990000px;}
.yb{bottom:126.986000px;}
.ya{bottom:140.906000px;}
.y9{bottom:163.946000px;}
.yf{bottom:179.930000px;}
.y1a{bottom:186.380000px;}
.y8{bottom:186.986000px;}
.y19{bottom:199.820000px;}
.y7{bottom:209.906000px;}
.y18{bottom:213.260000px;}
.y17{bottom:230.690000px;}
.y6{bottom:232.966000px;}
.y5{bottom:256.006000px;}
.y16{bottom:261.650000px;}
.y26{bottom:269.950000px;}
.y15{bottom:273.530000px;}
.y4{bottom:274.246000px;}
.y14{bottom:285.170000px;}
.y23{bottom:287.950000px;}
.y13{bottom:296.810000px;}
.y3{bottom:305.326000px;}
.y12{bottom:308.450000px;}
.y2{bottom:322.966000px;}
.y11{bottom:338.330000px;}
.y10{bottom:370.990000px;}
.ye{bottom:531.456000px;}
.hf{height:1.397813px;}
.h11{height:18.000000px;}
.h4{height:20.200312px;}
.hd{height:24.811172px;}
.hc{height:26.156250px;}
.h3{height:26.208984px;}
.h6{height:29.812500px;}
.ha{height:32.085000px;}
.h7{height:33.431953px;}
.h16{height:34.828125px;}
.h5{height:35.880000px;}
.h17{height:41.899760px;}
.h9{height:46.383750px;}
.hb{height:58.200000px;}
.h15{height:72.000000px;}
.h13{height:75.831328px;}
.h14{height:87.363281px;}
.he{height:144.020000px;}
.h12{height:162.050000px;}
.h10{height:288.050000px;}
.h8{height:396.070000px;}
.h1{height:540.000000px;}
.h2{height:540.100000px;}
.h0{height:612.000000px;}
.h18{height:824.848000px;}
.h19{height:825.000000px;}
.w6{width:13.464000px;}
.w3{width:35.640000px;}
.w9{width:36.000000px;}
.w8{width:36.024000px;}
.w5{width:61.080000px;}
.w7{width:117.600000px;}
.w2{width:192.050000px;}
.w4{width:192.140000px;}
.wa{width:192.620000px;}
.w1{width:720.000000px;}
.wb{width:791.999988px;}
.w0{width:792.000000px;}
.wc{width:1206.450000px;}
.wd{width:1206.500000px;}
.x2{left:0.000000px;}
.x3{left:14.400000px;}
.x0{left:36.000000px;}
.xd{left:41.400000px;}
.x7{left:60.000000px;}
.xe{left:113.420000px;}
.x1{left:192.170000px;}
.x4{left:228.050000px;}
.x5{left:263.690000px;}
.x6{left:299.330000px;}
.x8{left:360.410000px;}
.x9{left:373.870000px;}
.xa{left:491.470000px;}
.xb{left:527.500000px;}
.xc{left:563.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-1.361920pt;}
._1{width:1.436587pt;}
._2{width:12.160000pt;}
._0{width:45.154560pt;}
.fs6{font-size:2.560000pt;}
.fs1{font-size:37.120000pt;}
.fs3{font-size:42.880000pt;}
.fs5{font-size:45.440000pt;}
.fs0{font-size:48.000000pt;}
.fs2{font-size:58.880000pt;}
.fs9{font-size:64.000000pt;}
.fsa{font-size:67.461249pt;}
.fs4{font-size:85.120000pt;}
.fs7{font-size:138.880000pt;}
.fs8{font-size:160.000000pt;}
.y25{bottom:-28.480000pt;}
.y24{bottom:-2.080000pt;}
.y22{bottom:0.000000pt;}
.y21{bottom:5.280000pt;}
.y27{bottom:12.480000pt;}
.y20{bottom:21.440000pt;}
.y1b{bottom:23.520000pt;}
.y2d{bottom:30.720000pt;}
.y2c{bottom:32.200000pt;}
.y2e{bottom:36.352000pt;}
.y1f{bottom:37.760000pt;}
.y1{bottom:47.872000pt;}
.y0{bottom:48.000000pt;}
.y1e{bottom:51.840000pt;}
.y1c{bottom:66.080000pt;}
.y1d{bottom:66.400000pt;}
.y2b{bottom:75.240000pt;}
.yd{bottom:108.474667pt;}
.y2a{bottom:118.280000pt;}
.yc{bottom:138.594667pt;}
.y28{bottom:143.866667pt;}
.y29{bottom:161.320000pt;}
.yb{bottom:169.314667pt;}
.ya{bottom:187.874667pt;}
.y9{bottom:218.594667pt;}
.yf{bottom:239.906667pt;}
.y1a{bottom:248.506667pt;}
.y8{bottom:249.314667pt;}
.y19{bottom:266.426667pt;}
.y7{bottom:279.874667pt;}
.y18{bottom:284.346667pt;}
.y17{bottom:307.586667pt;}
.y6{bottom:310.621333pt;}
.y5{bottom:341.341333pt;}
.y16{bottom:348.866667pt;}
.y26{bottom:359.933333pt;}
.y15{bottom:364.706667pt;}
.y4{bottom:365.661333pt;}
.y14{bottom:380.226667pt;}
.y23{bottom:383.933333pt;}
.y13{bottom:395.746667pt;}
.y3{bottom:407.101333pt;}
.y12{bottom:411.266667pt;}
.y2{bottom:430.621333pt;}
.y11{bottom:451.106667pt;}
.y10{bottom:494.653333pt;}
.ye{bottom:708.608000pt;}
.hf{height:1.863750pt;}
.h11{height:24.000000pt;}
.h4{height:26.933750pt;}
.hd{height:33.081562pt;}
.hc{height:34.875000pt;}
.h3{height:34.945312pt;}
.h6{height:39.750000pt;}
.ha{height:42.780000pt;}
.h7{height:44.575937pt;}
.h16{height:46.437500pt;}
.h5{height:47.840000pt;}
.h17{height:55.866347pt;}
.h9{height:61.845000pt;}
.hb{height:77.600000pt;}
.h15{height:96.000000pt;}
.h13{height:101.108437pt;}
.h14{height:116.484375pt;}
.he{height:192.026667pt;}
.h12{height:216.066667pt;}
.h10{height:384.066667pt;}
.h8{height:528.093333pt;}
.h1{height:720.000000pt;}
.h2{height:720.133333pt;}
.h0{height:816.000000pt;}
.h18{height:1099.797333pt;}
.h19{height:1100.000000pt;}
.w6{width:17.952000pt;}
.w3{width:47.520000pt;}
.w9{width:48.000000pt;}
.w8{width:48.032000pt;}
.w5{width:81.440000pt;}
.w7{width:156.800000pt;}
.w2{width:256.066667pt;}
.w4{width:256.186667pt;}
.wa{width:256.826667pt;}
.w1{width:960.000000pt;}
.wb{width:1055.999984pt;}
.w0{width:1056.000000pt;}
.wc{width:1608.600000pt;}
.wd{width:1608.666667pt;}
.x2{left:0.000000pt;}
.x3{left:19.200000pt;}
.x0{left:48.000000pt;}
.xd{left:55.200000pt;}
.x7{left:80.000000pt;}
.xe{left:151.226667pt;}
.x1{left:256.226667pt;}
.x4{left:304.066667pt;}
.x5{left:351.586667pt;}
.x6{left:399.106667pt;}
.x8{left:480.546667pt;}
.x9{left:498.493333pt;}
.xa{left:655.293333pt;}
.xb{left:703.333333pt;}
.xc{left:751.333333pt;}
}
